<div class="card text-blank mt-3">
    <div class="card-body">
        <div class="card-title">
            <h2>{{postData['title']}}</h2>
        </div>
        <div class="card-text">
            {{postData['content'].substring(0,50)}}...<a class="card-link" routerLink="/view/{{postData['id']}}">Read more</a>
        </div>
    </div>
    <div class="card-footer text-muted">
        Posted on {{postData['date'] | date: 'MMM dd, yyyy'}}
        <button type="button" class="btn btn-danger card-link btn-sm" style="float:right" *ngIf="user==postData['uid']" (click)="delete()">Delete</button>
    </div>

    <a class="card-footer text-muted" *ngIf="user!==postData['uid']" routerLink="/profile/{{postData['uid']}}">View writer's Profile</a>

</div>
